<div class="container">
    <div class="new-room">
        <h5>チャットルーム新規作成</h5>
        <%= form_for( @room , remote: true, url: rooms_path, method: "post" ) do |f| %>
            <%= f.label :"ルームの名前を決めてください" %>
            <%= f.text_field :name %>
            <%= f.label :"メンバーを募集するためのメッセージを書きましょう" %>
            <%= f.text_field :description %>
            <%= f.label :"パスワードを設定したい方はこちらに入力してください" %>
            <%= f.password_field :password %>
            <div class="btn"><%= f.submit "new room", class: "room-submit"%></div>
        <% end %>
    </div>


    <% @rooms.each do |room| %>
        <div class="card-panel hoverable">
            <div class="card-image"></div>
            <div class="card-content">
                <% if room.password_digest.present? %>
                    <i class="small material-icons">lock_outline</i>
                    <%= link_to "「#{room.name}」", input_password_room_path(room) %>
                <% else %>
                    <%= link_to "「#{room.name}」", room_path(room) %>
                <% end %>
            </div>
            <div class="card-action"><%= room.description %></div>
        </div>
    <% end %>
<%= paginate @rooms %>
</div>

<% binding.pry %>



