<h1>Rooms#show</h1>
<h1>Chat room</h1>
<%= @room.id %>
<div id='messages'data-room_id="<%= @room.id %>" >
    <%= render @messages %>
</div>


<%= label_tag :content, 'Say something:' %>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
<%= link_to "ルーム一覧へ", rooms_path %>