<div class="chat-room">
    <h5><%= @room.name %></h5>
    <div id='messages'data-room_id="<%= @room.id %>" class="chat-texts" >
        <%= render @messages %>
    </div>

    <div class="chat-form">
        <%= label_tag :content, 'ここに文章を入力してください', class: "text-label" %>
        <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "chat-text-field" %>
        <span class="room-name"><%= "「"+ @room.name + "」" %></span>
        <%= link_to "ルーム一覧へ", rooms_path, class: "rooms-link" %>
        <span>送信した文章が表示されない場合はリロードしてください</span>
    </div>
</div>

<script>
$(document).ready( function(){
if (window.name != "test") {
location.reload();
window.name = "test";
} else {
window.name = "";
}
});
</script>