<!DOCTYPE html>
<html>
  <head>
    <title>ChatPractice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <div class="container">
          <a href="/" class="brand-logo">アプリ名</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if logged_in? %>
              <li><%= current_user.name + "さん" %></li>
              <li><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to '新規登録', signup_path %></li>
              <li><%= link_to 'ログイン', login_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
